.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calculadora {
  width: 400px;
  height: 500px;
}

.Visor {
  outline: 4px solid #bfbfbf;
}

.rowNumEqual {
  display: flex;
  width: 100%;
}

.Number {
  width: 75%;
}

.colunmEqual{
  display: flex;
  width: 25%;
  height: 100%;
}

.row {
  display: flex;
}

.rowOperator{
  display: flex;
  width: 100%;
}